.f-carousel {
  max-width: 480px;
  height: auto;
  margin: 0 auto;
}

.f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-carousel__slide img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
