.button,
.secondary-button {
  display: block;
  padding: 10px 13px 13px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #565eef;
  color: #ffffff;
  border: none;
}
.file-upload-image-conrainer {
    display: flex;
    align-items: center;
  }
  
  .file-upload-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .file-upload-label {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  .secondary-button {
    background-color: #edecff;
    color: #565eef;
  }
  .secondary-button:hover {
    background-color: #f2eeff;
  }
  
  .secondary-button:active {
    background-color: #d8d7ff;
  }